// Define variables for your color scheme

// For example:
$heartred: #ea1515;
$red: #d6472a;
$blue: #2a80d6;
$yellow: #e5d416;
$orange: #dd8a4b;
$green: #42dd9d;
$gray: #7f8280;
$light-gray: #cecece;
$lightlight-gray: #e5e5e5;
$off-white: #f2f2f2
