
<div class="wrapperTeam">
<ul class="list-inline text-center">
  <h1>This template was built with <i class="fas fa-heart"></i> by</h1>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/papillard", class: "img-circle" %>
      <h3> Papillard </h3>
    </li>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "img-circle" %>
      <h3> Ssaunier </h3>
    </li>
</ul>
</div>
